/*
   Other, more specific variables are found within their corresponding base
   stylesheet
*/

// Typography
$base-font-family: "proxima-nova", $helvetica;
// $base-font-family: $helvetica;
$heading-font-family: "proxima-nova", $helvetica;
$code-font-family: "source-code-pro", $monospace;

// Font Sizes
$base-font-size: 1em;

// Font Weights
$heading-font-weight: 300;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: rgb(70, 75, 85);
$medium-gray: rgb(153, 164, 186);
$light-gray: #ddd;
$base-blue: rgb(17, 33, 51);
$base-orange: rgb(255, 30, 28);
$base-orange-faded: lighten($base-orange, 20%);
$base-orange-faded-action: darken($base-orange, 10%);

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $base-orange;
$homepage-color: #fff;
$nav-link-color: $action-color;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
